.modalImage {
    height: 20rem;
    width: 20rem;
    margin: auto;

    box-shadow: 0.2rem 0.2rem 1rem var(--gray-600);
    border-radius: 0.1rem;

    padding: 0.3rem;
    min-width: 12rem;
    

   
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
}
modal-content {
    background-color: black !important;
    color: black;
    
}

.modalTitlePokemon {
    background-color: var(--gray-400);
    box-shadow: 0.2rem 0.2rem 1rem var(--gray-600);
    border-radius: 0.1rem;

    padding: 1rem;
    min-width: 12rem;
    

   
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
}